# SPDX-License-Identifier: LicenseRef-KERNELMETAL-NC
# Copyright (c) 2025 KERNEL.METAL (harpertoken)

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install actionlint
      run: |
        bash -c "$(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)"
    - name: Run actionlint
      run: ./actionlint .github/workflows/*.yml